.App {
  text-align: center;
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=49a3c7&c2=e6ddee&gt=r&gd=dtr
  */
  background: rgba(73, 163, 199, 1.0);
  background: radial-gradient(at right top, rgba(73, 163, 199, 1.0), rgba(230, 221, 238, 1.0));
  top:0;
  height:900px;
  position:fixed;
  width:1700px;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

