.Home {
    /* text-align: center; */
    /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=49a3c7&c2=e6ddee&gt=r&gd=dtr
  */
    background: rgb(101, 173, 201);
    background: radial-gradient(
        at right top,
        rgba(73, 163, 199, 1),
        rgba(230, 221, 238, 1)
    );
    top: 0;
    height: 900px;
    position: fixed;
    width: 1700px;
}
.navbar-brand {
    font-size: 30px;
    margin-left: 90px;
    margin-top: 40px;
    font-family: cursive;
    font-size: 50px;
}
.navbar-center {
    text-align: center;
    align-items: center;
    margin-top: -210px;
}
.searchBox {
    width: 250px;
    height: 35px;
    border: transparent;
    border-radius: 30px;
    padding-left: 20px;
    outline: none;
}

.bi-search {
    margin-left: -35px;
    position: relative;
    padding: 5px 5px;
    top: 8.5px;
}
.bi-search:hover {
    border-radius: 30px;
    padding: 5px 5px;
    top: 8.5px;
    background: rgb(119, 200, 232);
    transform: translate(3px, 1px);
    transition: 0.3s ease-in-out;
}

.glassBox1 , .glassBox2{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 95%;
    height: 30%;
    margin-top: 100px;
    margin-left:30px;
    justify-content: center;
    align-items: center;
}
.cityName{
  padding-left:29px;
  padding-top: 10px;
  height:30px;
  margin-top: -2px;
  background: rgb(119, 200, 232);
  border-radius: 16px 16px 0px 0px;
}

.temp,.humidity, .precipitation,.wind,.pressure,.vis{
  font-size: 40px;
  padding-left:29px;

}
.day-night{
  font-size:20px;
  padding-left: 29px;
}
.weather{
   font-size: 20px;
   text-align: right;
   top:-130px;
   padding-right: 120px;
   position: relative;
}

.glassBox2{
     margin-top: 50px;

}
.precipitation,.wind, .pressure,.vis{
    font-size: 25px;
}
hr{
    width:30%;
    margin-left: 20px;
}

h1 {
    font-size: 80px;
    font-family: monospace;
}

input {
    margin-top: 150px;
}
